<script type="text/javascript">
function login(){
	var name = document.login_form.name.value;
	var passwd = document.login_form.passwd.value;
	if (name.length==0 || passwd.length==0) {
		alert("用户名或密码为空！");
		return false;
	};
	return true;
};

function add(){
	var title = document.add_form.title.value;
	var content = CKEDITOR.instances.content.getData()
	if (title.length==0 || content.length==0) {
		alert("标题或内容为空！");
		return false;
	};
	return true;
};
</script>

<script charset="utf-8" src="/static/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/static/kindeditor/lang/zh_CN.js"></script>
<script>
	KindEditor.ready(function(K) {
        K.create('textarea[name="content"]', {
              uploadJson : '/admin/file/upload',
        });
});
</script>