<div class="container">
<div id="login">
<form class="form-horizontal" role="form" name="login_form" method="POST" action="/admin/login" onSubmit="return login();">
	<div class="input-group input-group-lg col-xs-4 col-md-offset-4">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="text" class="form-control" name="name" id="input_name" placeholder="用户名" required autofocus>
	<input type="password" class="form-control" name= "passwd" id="inputPassword" placeholder="密码">
 	<label class="checkbox" id="rememberme">
         <input type="checkbox" value="remember-me"> 记住我
     </label>
     <button type="submit" class="btn btn-success btn-lg btn-block">登录</button>
	</div>
</form>
</div>
</div>