<!-- Begin page content -->
<div class="container">
   <div style="padding:20px 0" class="page-header">
    		<h4><a href="#">{{.article.title}}</a></h4>
   </div>
   	<p class="lead">{{.article.content}}</p>
	<small>Oliver 发表于 	{{.article.a_ctime}}</small>
	
	<div style="padding-top:20px; padding-bottom:20px">文章评论</div>
	
	<ul class="list-group">
	{{range $element := .comments}}
	  <li class="list-group-item">
		{{$element.comment}}<br>
		<p class="text-right"><small>{{$element.ctime}}</small></p>
	  </li>
	{{end}}
	</ul>
	
	
</div>