<!-- Begin page content -->
<div class="container">
   <div class="page-header">
    		<h4><a href="#">{{.article.title}}</a></h4>
   </div>
   	<p class="lead">{{.article.content}}</p>
	<small>Oliver 发表于 	{{.article.a_ctime}}</small>
	
	<hr/>
	<div style="padding-top:20px; padding-bottom:20px">文章评论</div>
	
	<form class="form-horizontal" role="form" name="comment_form" method="POST" action="/comment/{{.id}}" onSubmit="return addComment();">
	<div class="row">
	  <div class="col-lg-12">
	    <div class="input-group">
	      <input type="text" name="comment" class="form-control" placeholder="评论">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="submit">发布</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-10 -->
	</div><!-- /.row -->
	</from>
	
	<hr/>
	{{range $element := .comments}}
		{{$element.comment}}<br>
		<p class="text-right"><small>{{$element.ctime}}</small></p>
	{{end}}
</div>